<?xml version="1.0"?>
<!DOCTYPE xfta>
<xfta>
<load>
<model input="codes/xfta/NAME.xml" />
</load>
<build>
<minimal-cutsets top-event="root" handle="MCS" minimum-probability="1.0e-4" />
</build>
<compute>
<probability top-event="root" handle="MCS" output="codes/xfta/NAME_probability.txt" />
<importance-factors top-event="root" handle="MCS" output="codes/xfta/NAME_importance_factor.txt" />
</compute>
</xfta>